*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 55px;
    background-color: rgb(68, 68, 68);
    overflow: hidden;
}
nav, li ,a{
    position: relative;
    top: 0px;
    display: inline;
    font-size: 16px;
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 19px;
}
.ativo{
    background-color: rgb(49, 189, 142);
}

.about{
    background-color: white;
    color: black;
}
.news:hover{
    background-color: rgb(168, 168, 168);
}
.contact:hover{
    background-color: rgb(168, 168, 168);
}
img{
    display: inline;
    float: right;
}    


















































































































































































    ,,,,,,,,,,,,,,,,,,,,,,
















































































































































































































































































































































































































































































































































































































































































































































































































































































































}